 .results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
  }

  form.input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
form.button.primary {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }
  
  @media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }    /*不为啥，不生效*/
  


  /* :host {
    display: block;
    max-width: 800px;
    margin: 0 auto;
  } */
  /* 外层遮罩层 */
  /* section {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
  } */
  
  /* form {
    display: flex;
    gap: 10px;
  } */
  
  /* input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */
  
  /* button.primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  } */
/*   
  button.primary:hover {
    background-color: #0056b3;
  } */
  
  /* .results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
  } */
 